# Test report
You can find the test specification [here](testspecification.md)

**Date**: 22 October 2023  

**Version**: 1.0.0  

**Testing environment**: Window 11, app run locally with vite.

| Test | Result |
| --- | --- |
| TC1.1 | Pass |
| TC1.2 | Pass |
| TC2.1 | Pass |
| TC2.2 | Pass |
| TC2.3 | Pass |
| TC3 | Pass |
| TC4.1 | Pass |
| TC4.2 | Pass |
| TC4.3 | Pass |
| TC5 | Pass |
| COVERAGE & SUCCESS | 100% OK |
